@import "../../styles/colors.scss";

.sidebar {
  padding: 0.7rem 0.4rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0.1rem;
}

.input-wrapper input {
  background-color: transparent;
  border: none;
  background-color: $primaryColor-100;
  border-radius: 10px;
  padding: 0.8rem;
  box-shadow: 0 4px 6px -1px rgba(100, 137, 170, 0.031),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid $primaryColor-300;
}

label span {
  font-size: 0.7rem;
  color: $primaryColor-800;
  font-weight: 300;
}
